@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* gold-nouveau theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}

/* stili base */
html {
	scroll-behavior: smooth;
}

* {
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
.poppins {
	font-family: 'Poppins', sans-serif;
}